<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777846259894-nb0r2s2p2qisoqirii5has794m7e4a6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777846259894-nb0r2s2p2qisoqirii5has794m7e4a6t</string>
	<key>API_KEY</key>
	<string>AIzaSyB6vaKtozrr6T8kKDx3wpQ0mPm68Ir4dOY</string>
	<key>GCM_SENDER_ID</key>
	<string>777846259894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tricktionary</string>
	<key>PROJECT_ID</key>
	<string>drews-portfolio-9c845</string>
	<key>STORAGE_BUCKET</key>
	<string>drews-portfolio-9c845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777846259894:ios:635cc1fd1792abf8422617</string>
</dict>
</plist>